﻿@using ServiceLayer.Services
@using DataAccessLayer.Models.Enums;
@model QuestionaireViewModel
@{
    ViewBag.Title = "FillQuestionaire";
}
<div class="page-header">
    <h2><small>Formularz wyboru najlepszego stylu nauczania</small></h2>
</div>
@if (Model != null)
{
    using (Html.BeginForm("FillQuestionaire", "Questionaire", FormMethod.Post))
    {
        var enumerator = 0;
        var listing = 1;
        foreach (var question in Model.Questionaire)
        {
            <b>@(listing). @question.Question</b>


            foreach (var answer in question.Answers)
            {
                <div class="radio">
                    <label><input type="radio" name="answers[@enumerator]" value="@((int)answer.AnswerType)">@answer.Answer</label>
                </div>
            }
            enumerator++;
            listing++;
        }
        <div>
            <input class="btn btn-sm btn-primary" type="submit" value="Zapisz odpowiedzi" />
        </div>
    };

}
