﻿@using DataAccessLayer.Models.Enums
@model LearningTypes
@{
    ViewBag.Title = "QuestionaireResults";
}

<div class="page-header">
    <h2><small>Wyniki przeprowadzonej ankiety o najlepszym stylu nauczania</small></h2>
</div>
<div style="text-align:center;">
    <h3>Wybrany dla ciebie styl nauki to : @(Model) </h3>
    @Html.ActionLink("Powrót do menu głównego", "Index","Home", null, new { @class = "btn btn-sm btn-success" })
</div>
