﻿@{
    Layout = null;
}
@model long
@using DataAccessLayer.Models;

@using (Html.BeginForm("AddExistingLessonElement", "Lesson", FormMethod.Post, new { lessonId = Model }))
{
    @Html.Hidden("lessonId", Model, new { id = "LessonIdContainer" })
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse_lessonElementCreateExisting">Dodawanie istniejącego elementu lekcji</a>
                </h4>
            </div>
            <div id="collapse_lessonElementCreateExisting" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Identyfikator", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="LessonsElementsList" id="ExistingLessonElementSearch" data-provide="typeahead" placeholder="Wybierz element..." autocomplete="off" />
                            </div>
                        </div>
                        <div id="ExistingLessonElementPreviewContainer"></div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" id="CreateExistingLessonElement" value="Dodaj" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $(document).ready(function () {

    });
</script>
