﻿@model long
@{
    ViewBag.Title = "ConfirmDelete";
}

<div class="page-header">
    <h2><small>Panel usuwania lekcji</small></h2>
</div>

<div class="col-md-12" style="text-align:center;" >
    @using (Html.BeginForm("Delete","Lesson", FormMethod.Post))
    {
        @Html.Hidden("id",Model)
        <p>Lekcja wraz z zawartością zostanie usunięta. Czy aby na pewno chcesz kontynuować?</p>
        <p>
            @Html.ActionLink("<- Powrót", "Index", null, new { @class = "btn btn-sm btn-primary" })  
            <input type="submit" class="btn btn-sm btn-danger" value="Usuń"/>
        </p>

    }
</div>