﻿@{
    Layout = null;
}
@model ServiceLayer.Services.LessonElementViewModel
@using DataAccessLayer.Models;

@using (Html.BeginForm("CreateLessonElement", "Lesson", FormMethod.Post, new { @enctype = "multipart/form-data", id="LessonELementCreationForm" }))
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse_lessonElementCreate">Tworzenie nowego elementu lekcji</a>
                </h4>
            </div>
            <div id="collapse_lessonElementCreate" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-horizontal">
                    
                        @Html.ValidationSummary(true, "", new { @class = "text-danger", enctype = "multipart/form-data" })
                        @Html.HiddenFor(q=>q.LessonId)
                        <div class="form-group">
                            @Html.Label("Typ elementu", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(q => q.LessonElementType, new { id = "LessonElementType", @class = "form-control" })
                            </div>
                        </div>
                        @*@Html.HiddenFor(q=>q.LessonElementType, new { id= "LessonElementType" })*@
                        <div class="form-group">
                            @Html.Label("Identyfikator", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Identifier, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group modal-element for_imageType for_audioType for_videoType">
                            @Html.Label("Plik", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" class="form-control" name="File" id="File"/>
                            </div>
                        </div>

                        <div class="form-group modal-element for-textType">
                            @Html.Label("Zawartość lekcji", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea id="Content" class="form-control" name="TextContent" placeholder="Dodaj zawartość" style="width:100%;"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" id="CreateLessonElement" value="Utwórz" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script type="text/javascript">
    $('#Content').wysihtml5({
        toolbar: {
            "blockquote": false,
            "font-styles": true, //Font styling, e.g. h1, h2, etc.
            "emphasis": true, //Italics, bold, etc.
            "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers.
            "html": false, //Button which allows you to edit the generated HTML.
            "link": false, //Button to insert a link.
            "image": false, //Button to insert an image.
            "color": true //Button to change color of font
            }
    });
</script>
<style>
    ul.wysihtml5-toolbar {
    list-style-type: none;
    display: inline-flex;
    margin-left: -40px;
}
</style>