﻿@model IEnumerable<ServiceLayer.Services.LessonViewModel>

<div class="page-header">
    <h2><small>Lista twoich lekcji</small></h2>
</div>

<p>
    @Html.ActionLink("Dodaj nową lekcję", "CreateLesson", null, new { @class = "btn btn-primary btn-xs" })
    @Html.ActionLink("Zmień zawartość lekcji", "ModifyLessonContent", null, new { @class = "btn btn-primary btn-xs" })
    @Html.ActionLink("Zmień kolejność elementów lekcji", "LessonOrderItems", null, new { @class = "btn btn-primary btn-xs" })
</p>
<table class="table">
    <tr class="table-header-row">
        <th>
            <h4><small>@Html.DisplayName("Nazwa")</small></h4>
        </th>
        <th>
            <h4>
                <small>
                    @Html.DisplayName("Opis")
                </small>
            </h4>
        </th>
        <th>
            <h4><small>@Html.DisplayName("Twórca")</small></h4>
        </th>
        <th></th>
    </tr>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorFullName)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn-xs btn btn-default" })
                    @Html.ActionLink("Usuń", "ConfirmDelete", new { id = item.Id }, new { @class = "btn-xs btn btn-default" })
                </td>
            </tr>
        }
    }


</table>
