﻿@using ServiceLayer.Services
@model LessonOrderViewModel
@{
    ViewBag.Title = "LessonOrderItems";
}

<div class="page-header">
    <h2><small>Panel zmiany kolejności elementów lekcji</small></h2>
</div>
<div id="AvailableLessonsCombobox" class="form-horizontal">
    <div class="well panel-primary well-sm">Wpisz nazwę lekcji aby załadować dane.</div>
    <div class="form-group">
        @Html.Label("Nazwa lekcji", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" class="form-control" name="LessonsList" id="LessonsSearch" data-provide="typeahead" placeholder="Select lesson..." autocomplete="off" />
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Typ nauczania", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EnumDropDownListFor(q=>q.LearningTypes, new { @class= "form-control", id="LearningTypeCombo" })
        </div>
    </div>
</div>
<div id="LessonPreviewContainer"></div>
<script>
    $(document).on("click", ".preview-lesson-up-icon", function () {
        var clickedElement = $(this).parent();
        var lessonType = $("#LearningTypeCombo").val();
        var lessonId = clickedElement.attr("lesson-id");
        var lessonElementId = clickedElement.attr("lesson-element-id");
        var increment = true;
        $.post('@Url.Action("ChangeLessonElementOrder", "Lesson")' + '?lessonId=' + lessonId + "&lessonElementId=" + lessonElementId + "&increment=" + increment + "&type=" + lessonType, null, function (data) {

            $("#LessonsSearch").trigger('change');
            notificationScope.CreateNotification('Successfuly created lesson element.', 'glyphicon glyphicon-ok', 'Lesson element creation -', 'success');
        });
    });
    $(document).on("click", ".preview-lesson-down-icon", function () {
        var clickedElement = $(this).parent();
        var lessonType = $("#LearningTypeCombo").val();
        var lessonId = clickedElement.attr("lesson-id");
        var lessonElementId = clickedElement.attr("lesson-element-id");
        var increment = false;
        $.post('@Url.Action("ChangeLessonElementOrder", "Lesson")' + '?lessonId=' + lessonId + "&lessonElementId=" + lessonElementId + "&increment=" + increment + "&type=" + lessonType, null, function (data) {

            $("#LessonsSearch").trigger('change');
            notificationScope.CreateNotification('Successfuly created lesson element.', 'glyphicon glyphicon-ok', 'Lesson element creation -', 'success');
        });
    });
    $(".item-lesson").hover(function () {

    }, function () {

    });
    $(document).ready(function () {
 
        $("#LessonsSearch").typeahead({
            source: function (query, process) {
                var lessons = [];
                map = {};

                // This is going to make an HTTP post request to the controller
                return $.post('/Lesson/GetLessonsForAutoComplete', { query: query }, function (data) {

                    // Loop through and push to the array
                    $.each(data, function (i, iterator) {
                        map[iterator.Name] = iterator;
                        lessons.push(iterator.Name);
                    });

                    // Process the details
                    process(lessons);

                });
            },
            updater: function (item) {
                var Id = map[item].Id;

                // Set the text to our selected id
                $("#LessonsSearch").attr("value", Id);

                return item;
            }
        });
       

        $(document).on("change", "#LessonsSearch", LoadModifyPanels).triggerHandler('change');
        $(document).on("change", "#LearningTypeCombo", LoadModifyPanels).triggerHandler('change');
        $(".item-lesson").hover(function(){
        
        }, function(){
        
        });
        
        function LoadModifyPanels() {

            var lessonId = $("#LessonsSearch").attr('value');
            var previewLessonView;
            var createLessonElementView;
            var lessonType = $("#LearningTypeCombo").val();
            if (lessonId != null && lessonId != 'undefined') {
                $.get('@Url.Action("PreviewLessonContent", "Lesson")' + '?id=' + lessonId + "&ordered=true" + "&type=" + lessonType, null, function (data) {

                    $("#LessonPreviewContainer").html(data);
                });

            }
        }
    });
</script>