﻿@model ServiceLayer.Services.LessonContentPreviewViewModel
@using DataAccessLayer.Models
@{
    ViewBag.Title = "PreviewLesson";
}

<div class="page-header">
    <h2><small>Panel nauki</small></h2>
</div>
@Html.HiddenFor(q => q.Id, new { id = "LessonId" })
<div class="panel panel-default">
    <div class="panel-heading">Zawartość lekcji</div>
    <div class="panel-body">
        <div>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Nazwa")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayName("Opis")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayName("Twórca")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatorFullName)
                    </dd>

                </dl>
            </div>
            <div>
                @foreach (var lessonElement in Model.LessonElements)
                {
                    var centerAttr = (lessonElement.LessonElementType != LessonElementType.Text) ? "center-media" : "";
                    <div class="item-lesson lesson-element-container @(centerAttr)" lesson-order="@(lessonElement.CurrentOrder)" lesson-id="@(Model.Id)" lesson-element-id="@(lessonElement.Id)">
                        @switch (lessonElement.LessonElementType)
                        {
                            case LessonElementType.Text:
                                @Html.Raw(@lessonElement.TextContent)
                                break;
                            case LessonElementType.Image:
                                @Html.Raw(@Html.Action("RenderImage", "Media", new { id = lessonElement.FileId }))
                                break;
                            case LessonElementType.Audio:
                                @Html.Raw("<audio controls><source src='/Media/GetAudioStream/" + lessonElement.FileId + "' type='audio/mp3' /></audio>")
                                break;
                            case LessonElementType.Video:
                                @Html.Raw("<video width='320' height='240' controls><source src='/Media/GetVideoStream/" + lessonElement.FileId + "'/></video>")
                                break;
                        }
                        @*<span class="glyphicon glyphicon-arrow-up preview-lesson-up-icon" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-arrow-down preview-lesson-down-icon" aria-hidden="true"></span>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .center-media {
        text-align: center;
    }
</style>