﻿@model IEnumerable<ServiceLayer.Services.LessonViewModel>

<div class="page-header">
    <h2><small>Lista dostępnych lekcji</small></h2>
</div>

<table class="table">
    <tr class="table-header-row">
        <th>
            <h4><small>@Html.DisplayName("Nazwa")</small></h4>
        </th>
        <th>
            <h4>
                <small>
                    @Html.DisplayName("Opis")
                </small>
            </h4>
        </th>
        <th>
            <h4><small>@Html.DisplayName("Twórca")</small></h4>
        </th>
        <th></th>
    </tr>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorFullName)
                </td>
                <td>
                    @Html.ActionLink("Otwórz lekcję", "LessonLearn", new { id = item.Id }, new { @class = "btn-xs btn btn-primary" })
                </td>
            </tr>
        }
    }


</table>
