﻿@model ServiceLayer.Services.LessonContentPreviewViewModel
@using DataAccessLayer.Models

<div id="ModifyLessonContentContainer">
    <div class="page-header">
        <h2><small>Edycja zawartości lekcji</small></h2>
    </div>
    <div id="AvailableLessonsCombobox" class="form-horizontal">
        <div class="well panel-primary well-sm">Wpisz nazwę lekcji aby załadować dane.</div>
        <div class="form-group">
            @Html.Label("Nazwa lekcji", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="LessonsList" id="LessonsSearch" data-provide="typeahead" placeholder="Select lesson..." autocomplete="off" />
            </div>
        </div>
    </div>
    <div id="LessonPreviewContainer">
        @*@Html.Action("PreviewLessonContent", "Lesson", new { id = Model.Id })*@
    </div>
    <div id="AddExistingLessonElementContainer">
        @*@Html.Action("CreateLessonElement", "Lesson", new { id = Model.Id })*@
    </div>
    <div id="CreateNewLessonElementContainer">
        @*@Html.Action("CreateLessonElement", "Lesson", new { id = Model.Id })*@
    </div>
</div>
<div>
    @Html.ActionLink("<- Powrót", "Index", null, new { @class = "btn btn-sm btn-primary" })
</div>

<script>
    $(document).ready(function () {
        debugger
        $("#ExistingLessonElementSearch").typeahead({
            source: function (query, process) {
                var lessons = [];
                map = {};
                // This is going to make an HTTP post request to the controller
                return $.post('/Lesson/GetLessonsElementsForAutoComplete', { query: query }, function (data) {

                    // Loop through and push to the array
                    $.each(data, function (i, iterator) {
                        map[iterator.Name] = iterator;
                        lessons.push(iterator.Name);
                    });

                    // Process the details
                    process(lessons);

                });
            },
            updater: function (item) {
                var Id = map[item].Id;

                // Set the text to our selected id
                $("#ExistingLessonElementSearch").attr("value", Id);

                return item;
            }
        });
        $("#LessonsSearch").typeahead({
            source: function (query, process) {
                var lessons = [];
                map = {};

                // This is going to make an HTTP post request to the controller
                return $.post('/Lesson/GetLessonsForAutoComplete', { query: query }, function (data) {

                    // Loop through and push to the array
                    $.each(data, function (i, iterator) {
                        map[iterator.Name] = iterator;
                        lessons.push(iterator.Name);
                    });

                    // Process the details
                    process(lessons);

                });
            },
            updater: function (item) {
                var Id = map[item].Id;

                // Set the text to our selected id
                $("#LessonsSearch").attr("value", Id);

                return item;
            }
        });
        $(document).on("change", "#LessonsSearch", modifyLessonContentScope.LoadModifyPanels).triggerHandler('change');
    });

    var modifyLessonContentScope = (function () {
        function LoadModifyPanels() {

            var lessonId = $("#LessonsSearch").attr('value');
            var previewLessonView;
            var createLessonElementView;
            if (lessonId != null && lessonId != 'undefined') {
                $.get('@Url.Action("PreviewLessonContent", "Lesson")' + '?id=' + lessonId, null, function (data) {

                    $("#LessonPreviewContainer").html(data);
                    debugger
                  
                    $.get('@Url.Action("CreateLessonElement", "Lesson")', { id: lessonId }, function (data) {
                        $("#CreateNewLessonElementContainer").html(data);

                        $.get('@Url.Action("AddExistingLessonElement", "Lesson")', { lessonId: lessonId }, function (data) {
                            $("#AddExistingLessonElementContainer").html(data);
                            $("#ExistingLessonElementSearch").typeahead({
                                source: function (query, process) {
                                    var lessons = [];
                                    map = {};
                                    // This is going to make an HTTP post request to the controller
                                    return $.post('/Lesson/GetLessonsElementsForAutoComplete', { query: query }, function (data) {

                                        // Loop through and push to the array
                                        $.each(data, function (i, iterator) {
                                            map[iterator.Name] = iterator;
                                            lessons.push(iterator.Name);
                                        });

                                        // Process the details
                                        process(lessons);

                                    });
                                },
                                updater: function (item) {
                                    var Id = map[item].Id;

                                    // Set the text to our selected id
                                    $("#ExistingLessonElementSearch").attr("value", Id);

                                    return item;
                                }
                            });
                            createLessonElementScope.RefreshLessonPreview();
                        });
                    });
                });

            }
        }

        return {
            LoadModifyPanels: LoadModifyPanels,
        }
    }());
</script>
<script>
    $(document).ready(function () {
        $(document).trigger("#LessonElementType", "change");
        createLessonElementScope.LessonElementTypeOnChange();
        $(document).on("change", "#LessonElementType", createLessonElementScope.LessonElementTypeOnChange)
        $(document).on("click", "#CreateLessonElement", createLessonElementScope.CreateLessonElement)
        $(document).on("click", ".item-lesson", createLessonElementScope.RemoveLessonElement);
        $(document).on("click", "#CreateExistingLessonElement", createLessonElementScope.CreateExistingLessonElement)
        $(document).on("change", "#ExistingLessonElementSearch", createLessonElementScope.LoadPreview).triggerHandler('change');
        
   
    });

    var createLessonElementScope = (function () {

        function LessonElementTypeOnChange() {
            var selectedElement = $("#LessonElementType").val();
            $(".modal-element").hide();
            switch (selectedElement) {
                case '0':
                    $(".for-textType").show();
                    break;
                case '1':
                    $(".for_imageType").show();
                    break;
                case '3':
                    $(".for_audioType").show();
                    break;
                case '2':
                    $(".for_videoType").show();
                    break;
            }
        }
        function CreateLessonElement() {

            var formData = $(this).closest('form').serializeArray();
            var lessonId = $("#LessonId").val();
            var file = $("#File").val();

            formData.push({ name: 'LessonId', value: lessonId });
            formData.push({ name: 'File', value: file });


            $("#LessonELementCreationForm").ajaxSubmit({
                success: function () {
                    notificationScope.CreateNotification('Successfuly created lesson element.', 'glyphicon glyphicon-ok', 'Lesson element creation -', 'success');
                    RefreshLessonPreview();
                }
            });

        }
        function RefreshLessonPreview() {
            var lessonId = $("#LessonsSearch").attr('value');
            $.get('@Url.Action("PreviewLessonContent", "Lesson")' + '?id=' + lessonId, null, function (data) {
                $("#LessonPreviewContainer").html(data);
                LessonElementTypeOnChange();
            });
        }
        function RemoveLessonElement() {

            var lessonId = $(this).attr("lesson-id");
            var lessonElementId = $(this).attr("lesson-element-id");

            $.post('@(Url.Action("RemoveLessonElement", "Lesson"))', { lessonId: lessonId, lessonElementId: lessonElementId }, function (data) {
                notificationScope.CreateNotification('Successfuly deleted lesson element.', 'glyphicon glyphicon-ok', 'Lesson element creation -', 'success');
                createLessonElementScope.RefreshLessonPreview();

            });
        }
        function LoadPreview() {
            var lessonId = $("#LessonsSearch").attr('value');
            var lessonElementId = $("#ExistingLessonElementSearch").attr('value');
            if (lessonElementId != null && lessonElementId != 'undefined') {
                $.post('@Url.Action("PreviewSingleLessonElement", "Lesson")' + '?lessonId=' + lessonId + "&lessonElementId=" + lessonElementId, null, function (data) {

                    $("#ExistingLessonElementPreviewContainer").html(data);
                });

            }
        }
        function CreateExistingLessonElement() {
            var lessonId = $("#LessonsSearch").attr('value');
            var lessonElementId = $("#ExistingLessonElementSearch").attr('value');
            if (lessonElementId != null && lessonElementId != 'undefined') {
                $.post('@Url.Action("AddExistingLessonElement", "Lesson")' + '?lessonId=' + lessonId + "&lessonElementId=" + lessonElementId, null, function (data) {

                    notificationScope.CreateNotification('Successfuly created lesson element.', 'glyphicon glyphicon-ok', 'Lesson element creation -', 'success');
                    RefreshLessonPreview();
                });

            }
        }
        return {
            LessonElementTypeOnChange: LessonElementTypeOnChange,
            CreateLessonElement: CreateLessonElement,
            CreateExistingLessonElement: CreateExistingLessonElement,
            RefreshLessonPreview: RefreshLessonPreview,
            RemoveLessonElement: RemoveLessonElement,
            LoadPreview: LoadPreview,
        }
    }());
</script>


<style>
    .preview-lesson-up-icon, .preview-lesson-down-icon {
        display: none;
    }
</style>