﻿@using ServiceLayer.Services;
@using DataAccessLayer.Models;
@{ 
    Layout = null;
}
@model LessonElementViewModel

@{var centerAttr = (Model.LessonElementType != LessonElementType.Text) ? "center-media" : "";
    <div class="item-lesson lesson-element-container @(centerAttr)" lesson-order="@(Model.CurrentOrder)" lesson-id="@(Model.Id)" lesson-element-id="@(Model.LessonId)">
        @switch (Model.LessonElementType)
        {
            case LessonElementType.Text:
                @Html.Raw(@Model.TextContent)
                break;
            case LessonElementType.Image:
                @Html.Raw(@Html.Action("RenderImage", "Media", new { id = Model.FileId }))
                break;
            case LessonElementType.Audio:
                @Html.Raw("<audio controls><source src='/Media/GetAudioStream/" + Model.FileId + "' type='audio/mp3' /></audio>")
                break;
            case LessonElementType.Video:
                @Html.Raw("<video width='320' height='240' controls><source src='/Media/GetVideoStream/" + Model.FileId + "'/></video>")
                break;
        }
        @*<span class="glyphicon glyphicon-arrow-up preview-lesson-up-icon" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down preview-lesson-down-icon" aria-hidden="true"></span>*@
    </div>
}
<style>
    .center-media {
        text-align: center;
    }
</style>
