﻿@model DataAccessLayer.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="page-header">
    <h2><small>Panel zarządzania kontem użytkownika</small></h2>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień swoje hasło", "ChangePassword")
            }
            ]
        </dd>
        <dt>Aktualny styl nauczania:</dt>
        <dd>
          [@Model.LearningType <br> @Html.ActionLink("Wypełnij anikietę ponownie", "FillQuestionaire", "Questionaire",null,null,null,null,null)]
        </dd>
    </dl>
</div>
